html {
    font-size: 10px;
    color: #6e1423;
    background-color: #16324f;
    font-family: "Lucida Console", "Courier New", monospace;
}

#game-area {
  font-size: 1.7rem;
  padding-top: 2rem;
}

.imageArea, .stats {
    min-height: 30vh;
}

.imageArea {
    background: linear-gradient(70deg, #0353a4, #b6ccfe);
    border-radius: 0 0 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

h1 {
    margin-top: 0;
    font-size: 2.5rem;
}

h3 {
    margin-top: 0;
    font-size: 2rem;
}

.items {
    font-size: 2rem;
}


button {
    width: 8rem;
    border: none;
    border-radius: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid #a1e0e4;
    cursor: pointer;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    color: gold;
    transition-duration: 0.4s;
}

button:nth-child(2) {
    border: 2px solid rgb(241, 152, 152);
}

.stats {
    background: whitesmoke;
    border: 2px solid #dc2f02;
    border-radius: 3rem 3rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    text-align: center;
}

.space-y {
    margin: 3rem 0;
}

img {
    width: 100%;
    border-radius: 3rem;
}

.fade{
    animation-name: fade;
    animation-duration: 0.8s;
}

@keyframes fade {
   from {
    opacity: 0;
   }
   to {
    opacity: 1;
   }
}

@media all and (min-width: 600px) {
    #game-area{
        display: flex;
    }

    .imageArea 
    .stats {
        min-height: 50vh;
    }

    .imageArea {
        border-radius: 3rem;
        transform: translate(-3rem);
        flex: 2;
    }

    .stats {
        flex: 1;
        border-radius: 3rem 0 0 3rem;
        margin-left: 3rem;
        padding-right: 3rem;
    }
}
